body {
    text-align:center;
    margin:50px;
    margin-top: 3px;
    padding:30px;
    width:900px;
    float:right; 
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  ul {
     text-align: center;
     list-style-position: inside;
  }
  
  li {
  text-decoration: none;
  padding: 4px;
  text-align: center;
   justify-content: right;
  }
  
  #navbar{
    float:left;
    height:100%;
    width: 200px;
    background-color: #4dc0b5;
    z-index: 1;
    top:0;
    left:0;
    overflow-x: hidden;
    padding-top: 60px; 
    position: fixed;
    transition: 0.5s;
    
  }
  
  .nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    height: relative;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .nav-link:hover{
    color: white; 
    border-radius: 50px;
    background-color: #e3342f;
    height: relative;
    text-align: center;
    padding: 15px 25px 12px 35px;

  }
    
  #link1:hover {
    background-color: #e3342f;
  }

  #link2:hover {
    background-color:	#3490dc;
  }

  #link3:hover {
    background-color: #f6993f;
  }
  
  #link4:hover {
    background-color: #38c172;
  }
  
  #link5:hover {
    background-color: #f66d9b;
 }